.musics
  .music
    .music__artist-image
      = link_to "#{artist.images[0]["url"]}" do
        %image{src: "#{artist.images[0]["url"]}", width: "100px", height: "100px"}
    #player
      %i.fas.fa-play{id: "track-#{i}", value: track.preview_url}
    %ul.music__info
      %li.music__info__artist
        = artist.name
      %li.music__info__albam
        = song.album.name
      %li.music__info__song
        = song.name
      %li.music__info__release-year
        = release_year
.form-box
  = form_with model: post, local: true do |f|
    = f.hidden_field :song_id, value: song.id
    = f.hidden_field :artist_id, value: artist.id
    = f.hidden_field :song, value: song.name
    = f.hidden_field :artist, value: artist.name
    = f.text_area :content, class: "text-field"
    %button{type: "submit", class: "send-btn"}
      %i.far.fa-paper-plane
