.musics
  .music
    .music__artist-image
      = link_to "#{track.album.images[0]["url"]}" do
        %image{src: "#{track.album.images[0]["url"]}", width: "100px", height: "100px"}
    #player
      %i.fas.fa-play{id: "track-0", value: track.preview_url}
    %ul.music__info
      = link_to artist_path(artist.id) do
        %li.music__info__artist
          = artist.name
      = link_to album_path(track.album.id, artist_id: artist.id) do
        %li.music__info__albam
          = track.album.name
      %li.music__info__track
        = track.name
      %li.music__info__release-year
        = track.album.release_date.gsub(/-/, "/")
.form-box
  = form_with model: post, local: true do |f|
    = f.hidden_field :album_id, value: track.album.id
    = f.hidden_field :track_id, value: track.id
    = f.text_area :content, class: "text-field"
    %button{type: "submit", class: "send-btn"}
      %i.far.fa-paper-plane
